.App{
  font-family: "Lato", sans-serif;
}

.Content {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 11%;
  padding-right: 11%;
  font-size: calc(10px + 2vmin);
  color: white;
}


