.App{
  font-family: "Lato", sans-serif;
}

.Content {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  padding: 5% 11% 4%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Forms{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 40%;
  font-size: medium;
}


